@use '../base/mixins.scss' as *;

.button {
    @include button;
}

.button-lg {
    width: var(--btn-lg-w);
    height: var(--btn-lg-h);
    font-size: var(--btn-lg-f-s);
}

.button-md {
    width: var(--btn-md-w);
    height: var(--btn-md-h);
    font-size: var(--btn-md-f-s);
}

.button-sm {
    width: var(--btn-sm-w);
    height: var(--btn-sm-h);
    font-size: var(--btn-sm-f-s);
}

.button-xs {
    width: var(--btn-xs-w);
    height: var(--btn-xs-h);
    font-size: var(--btn-xs-f-s);
}
