.pj-list {
    &__item {
        list-style-type: var(--list-s-t);
        margin-top: var(--list-i-m);
        &:first-child {
            margin-top: var(--list-i-m-f);
        }
        &-lg {
            font-size: var(--list-item-lg-f-s);
        }
        &-md {
            font-size: var(--list-item-md-f-s);
        }
        &-sm {
            font-size: var(--list-item-sm-f-s);       
        }
        &-xs {   
            font-size: var(--list-item-xs-f-s);  
        }
    }

}