.pj-list {
    &__item {
        &--circle {
            list-style-type: var(--list-item-s-t-circle);
        }
        &--disc {
            list-style-type: var(--list-item-s-t-disc);
        }
        &--square {
            list-style-type: var(--list-item-s-t-square);
        }
        &--decimal {
            list-style-type: var(--list-item-s-t-decimal);
        }
    }

}