@use './root.scss';

@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}
