:root {
    // fonts
    --pj-font-f: 'Montserrat';
    --pj-font-c-dark: #ffffff;
    --pj-font-c-light: #000000;

    // titles
    --pj-title-f-f: 'Open Sans';

    --pj-h1-f-w: 500;
    --pj-h1-f-s: 35px;
    --pj-h1-l-h: 1.5;

    --pj-h2-f-w: 400;
    --pj-h2-f-s: 28px;
    --pj-h2-l-h: 1.5;

    --pj-h3-f-w: 300;
    --pj-h3-f-s: 26px;
    --pj-h3-l-h: 1.5;

    // background
    --pj-bg-c-dark: #000000;
    --pj-bg-c-light: #ffffff;

    // btn
    --btn-b-r: 25px;

    --btn-lg-w: 200px;
    --btn-lg-h: 60px;
    --btn-lg-f-s: 20px;

    --btn-md-w: 180px;
    --btn-md-h: 50px;
    --btn-md-f-s: 18px;

    --btn-sm-w: 120px;
    --btn-sm-h: 40px;
    --btn-sm-f-s: 16px;

    --btn-primary-f-c: #ffffff;
    --btn-primary-bg: #0300a8;
    --btn-primary-hover-bg: rgb(113, 112, 185);
    --btn-primary-focus-b: 2px solid #fff;
    --btn-primary-focus-o: 2px solid #0300a8;
    --btn-primary-active-b: 5px solid #fff;
    --btn-primary-active-o: none;
    --btn-primary-disabled-bg: rgb(66, 66, 83);

    --btn-secondary-f-c: #000000;
    --btn-secondary-bg: #8d8d91;
    --btn-secondary-hover-bg: rgb(202, 202, 202);
    --btn-secondary-focus-b: 2px solid #fff;
    --btn-secondary-focus-o: 2px solid #8d8d91;
    --btn-secondary-active-b: 5px solid #fff;
    --btn-secondary-active-o: none;
    --btn-secondary-disabled-bg: rgb(47, 47, 47);

    // list

    --pj-list-flex-col: column;
    --pj-list-flex-col-reverse: column-reverse;
    --pj-list-flex-row: row;
    --pj-list-flex-row-reverse: row-reverse;
    --pj-list-flex-gap: 5px --list-item-s-t-circle: circle;
    --list-item-s-t-disc: disc;
    --list-item-s-t-square: square;
    --list-item-s-t-decimal: decimal;

    --list-item-lg-f-s: 22px;
    --list-item-md-f-s: 20px;
    --list-item-sm-f-s: 18px;
    --list-item-xs-f-s: 16px;

    // text 
    --pj-text-lg-f-w: 300px;
    --pj-text-lg-f-s: 22px;
    --pj-text-lg-l-h: 1.2;

    --pj-text-md-f-w: 300px;
    --pj-text-md-f-s: 20px;
    --pj-text-md-l-h: 1.2;

    --pj-text-sm-f-w: 300px;
    --pj-text-sm-f-s: 18px;
    --pj-text-sm-l-h: 1.2;

    --pj-text-xs-f-w: 300px;
    --pj-text-xs-f-s: 16px;
    --pj-text-xs-l-h: 1.2;

    // card
    --pj-card-b: 1px solid black;
    --pj-card-bg-c: #ffffff;
    --pj-card-p: 10px;
    --pj-card-b-r: 25px;

    --pj-card-md-w: 300px;
    --pj-card-md-h: 500px;

    --pj-card-sm-w: 200px;
    --pj-card-sm-h: 400px;
}